* {
    margin: 0px;
    padding: 0px;

}

.body {
    background: #FFFAFA;
}
.top {
    min-width: 100rem;
    width: 100vw;
    background: #FFFFFF;

}

.top-redSoidLine {
    min-width: 100rem;
    width: 100vw;
    height: 0.5rem;
    background: red;
}

.top-content {
    min-width: 100rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.top-content-logo {
    width: 12rem;
    height: auto;
    margin-top: 1rem;
    margin-left: 18rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.top-content-search {
    min-width: 30rem;
    margin-top: 1.5rem;
    margin-left: 10rem;
    font-size: 0px;
    display: flex;
    height: 2rem;
}

.top-content-search-input {
    min-width: 30rem;
    width: 30rem;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 1px solid red;
}

.top-content-search-button {
    min-width: 3rem;
    text-align: center;
    background: red;
    font-size: 1rem;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    color: aliceblue;
    display: block;
    height: 2rem;
    width: 3rem;
    line-height: 2rem;
}

.top-content-userName {
    min-width: 5rem;
    font-size: 1rem;
    margin-top: 1.6rem;
    margin-left: 20rem;
    margin-bottom: 1rem;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
}
.content {
    min-width: 100rem;
    width: 100vw;
    background: #FFFAFA;
    z-index: 1;
}

.index-content-menuAndPersonalizedThemeArea {
    width: 86rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.index-content-menuAndPersonalizedThemeArea-menu {
    min-width: 20rem;
    width: 20rem;
    background: aliceblue;
    margin-left: 14rem;
    margin-top: 1rem;
    border: 1px solid aliceblue;
    border-radius: 20px;

}

.index-content-menuAndPersonalizedThemeArea-menu-ul {
    min-width: 20rem;
    width: 20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 1rem;
}

.index-content-menuAndPersonalizedThemeArea-menu-ul-a {
    text-decoration: none;
    color: black;
    margin-left: 5rem;
    margin-top: 0.8rem;
}

.index-content-menuAndPersonalizedThemeArea-menu-ul-a:hover {
    color: red;
}

.index-content-menuAndPersonalizedThemeArea-PersonalizedTheme {
    min-width: 50rem;
    width: 50rem;
    background: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 20px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.index-content-menuAndPersonalizedThemeArea-PersonalizedTheme-ThemeArea {
    min-width: 50rem;
    width: 50rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.index-content-menuAndPersonalizedThemeArea-PersonalizedTheme-ThemeArea-Theme {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    margin-left: 5rem;
    color: red;
}

.index-content-menuAndPersonalizedThemeArea-PersonalizedTheme-ThemeArea-Subheading {
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    color: #9c9c9c;
}

.index-content-menuAndPersonalizedThemeArea-PersonalizedTheme-ThemeArea-More {
    margin-left: 25rem;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: #666;
}

.index-content-menuAndPersonalizedThemeArea-PersonalizedTheme-ThemeArea-More:hover {
    color: red;
}

.index-content-bestSellerArea {
    min-width: 71rem;
    width: 71rem;
    background: aliceblue;
    margin-left: 14rem;
    margin-top: 1rem;
    border-radius: 25px;
}

.index-content-bestSellerArea-ThemeArea {
    min-width: 71rem;
    width: 71rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.index-content-bestSellerArea-ThemeArea-Theme {
    margin-top: 0.5rem;
    margin-left: 5rem;
    color: red;
    font-size: 1.5rem;
}

.index-content-bestSellerArea-ThemeArea-Subheading {
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    color: #9c9c9c;
}

.index-content-bestSellerArea-ThemeArea-More {
    margin-left: 46.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: #666;
}

.index-content-bestSellerArea-ThemeArea-More:hover {
    color: red;
}

.index-content-bestSellerArea-ThemeArea-content {
    margin-top: 1rem;
    margin-left: 5rem;
    padding-bottom: 0.5rem;
}

.index-content-bestSellerArea-ThemeArea-black {
    min-width: 71rem;
    width: 71rem;
    height: 0.1rem;
    background: #9c9c9c;
    margin-top: 0.3rem;
}

.index-content-brandAndSalePacketPostArea {
    min-width: 71rem;
    width: 71rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-left: 14rem;
}

.index-content-brandAndSalePacketPostArea-brand {
    min-width: 38.5rem;
    width: 38.5rem;
    background: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 25px;
}

.index-content-brandAndSalePacketPostArea-brand-ThemeArea {
    min-width:  38.5rem;
    width:  38.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.index-content-brandAndSalePacketPostArea-brand-ThemeArea-Theme {
    margin-top: 0.5rem;
    margin-left: 5rem;
    color: #1199ee;
    font-size: 1.5rem;
}

.index-content-brandAndSalePacketPostArea-brand-ThemeArea-Subheading {
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    color: #9c9c9c;
}

.index-content-brandAndSalePacketPostArea-brand-ThemeArea-More {
    margin-left: 13rem;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: #666;
}

.index-content-brandAndSalePacketPostArea-brand-ThemeArea-More:hover {
    color: red;
}

.index-content-brandAndSalePacketPostArea-brand-black {
    min-width:  38.5rem;
    width:  38.5rem;
    height: 0.1rem;
    background: #9c9c9c;
    margin-top: 0.3rem;
}
.index-content-brandAndSalePacketPostArea-brand-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
}
.index-content-brandAndSalePacketPostArea-dSalePacketPost {
    min-width: 31rem;
    width: 31rem;
    background: aliceblue;
    margin-left: 1rem;
    border: 1px solid aliceblue;
    border-radius: 25px;
}
.index-content-brandAndSalePacketPostArea-dSalePacketPost-ThemeArea {
    min-width: 31rem;
    width: 31rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.index-content-brandAndSalePacketPostArea-dSalePacketPost-Theme {
    margin-top: 0.5rem;
    margin-left: 5rem;
    color: red;
    font-size: 1.5rem;
}

.index-content-brandAndSalePacketPostArea-dSalePacketPost-Subheading {
    font-size: 1rem;
    margin-top: 1rem;
    color: #9c9c9c;
    margin-left: 0.5rem;
}

.index-content-brandAndSalePacketPostArea-dSalePacketPost-More {
    margin-left: 8rem;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: #666;
}

.index-content-brandAndSalePacketPostArea-dSalePacketPost-More:hover {
    color: red;
}
.index-content-brandAndSalePacketPostArea-dSalePacketPost-black {
    min-width:  31rem;
    width:  31rem;
    height: 0.1rem;
    background: #9c9c9c;
    margin-top: 0.3rem;
}
.index-content-brandAndSalePacketPostArea-dSalePacketPost-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
}
.index-content-SelectedArea {
    min-width: 71rem;
    width: 71rem;
    background: aliceblue;
    margin-left: 14rem;
    margin-top: 1rem;
    border-radius: 25px;
}


.index-content-SelectedArea-ThemeArea {
    min-width: 71rem;
    width: 71rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.index-content-SelectedArea-Theme {
    margin-top: 0.5rem;
    margin-left: 5rem;
    color: #f7a700;
    font-size: 1.5rem;
}

.index-content-SelectedArea-Subheading {
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    color: #9c9c9c;
}

.index-content-SelectedArea-More {
    margin-left: 48.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: #666;
    border: 1px solid #26a;
    padding: 2px;
    border-radius: 25px;
}

.index-content-SelectedArea-More:hover {
    color: red;
    border-color: red;
}

.index-content-SelectedArea-content {
    margin-top: 1rem;
    margin-left: 5rem;
    padding-bottom: 0.5rem;
}
.index-content-SelectedArea-black{
    min-width:  71rem;
    width:  71rem;
    height: 0.1rem;
    background: #9c9c9c;
    margin-top: 0.3rem;
}

.register-top-content-title {
    width: 10rem;
    margin-left: 1rem;
    margin-top: 1.9rem;
    font-size: 2rem;
}

.register-top-content-have-account {
    margin-left: 35rem;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    color: #999;
}

.register-top-content-have-account-login {
    text-decoration: none;
    color: #e3554c;
}

.register-top-content-have-account-login:hover {
    text-decoration: underline;
}

.register-contentArea {
    min-width: 50rem;
    width: 50rem;
    margin: 0 auto;
    font-size: 1.5rem;
    padding-top: 5rem;
}

.register-contentArea-nameInput {
    margin-left: 15rem;
}


.register-contentArea-nameInput-input {
    width: 30rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #777;
    border-radius: 0.8rem;
}

.register-contentArea-nameInput-inputErrerTips {
    width: 30rem;
    font-size: 1rem;
    color: red;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.register-contentArea-nameInput-input:hover {
    border-color: black;
}

.register-contentArea-passwordInput {
    margin-left: 15rem;
}

.register-contentArea-passwordInput-input {
    width: 30rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #777;
    border-radius: 0.8rem;
}

.register-contentArea-passwordInput-input:hover {
    border-color: black;
}

.register-contentArea-passwordInput-inputErrerTips {
    width: 30rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.register-contentArea-emailInput {
    margin-left: 15rem;
}

.register-contentArea-emailInput-input {
    width: 30rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #777;
    border-radius: 0.8rem;
}

.register-contentArea-emailInput-input:hover {
    border-color: black;
}


.register-contentArea-emailInput-inputErrerTips {
    width: 30rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.register-contentArea-verificationCode {
    margin-left: 15rem;
}

.register-contentArea-verificationCodeInput-input {
    width: 21rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #777;
    border-radius: 0.8rem
}

.register-contentArea-verificationCodeInput-input:hover {
    border-color: black;
}

.register-contentArea-verificationCodeInput-getVerificationCode {
    border-radius: 1rem;
    border: 0.1rem solid #777777;
    padding: 0.5rem;
    cursor: pointer
}

.register-contentArea-verificationCodeInput-verificationCodeErrerTips {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.register-contentArea-register {
    margin-left: 15rem;
    width: 30rem;
    padding: 0.5rem;
    text-align: center;
    background: #1199ee;
    border-radius: 0.8rem;
    cursor: pointer
}

.login-contentArea-nameInput-inputErrerTips {
    width: 30rem;
    font-size: 1rem;
    color: red;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.login-contentArea-passwordInput-inputErrerTips {
    width: 30rem;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
